<app-header></app-header>
<!--Contenedor oficial-->
<div class="container-fluid" style="background-color:#fdfefe">
  <!-- CONTENEDOR VISTA PREVIA Y FORMULARIO -->
  <div class="row p-4">
    <div class="col-7 shadow-sm p-5" style="background-color: #FFFFFF">

      <app-vista-previa
      [inputValueName]="copiedValueName"
      [inputValueEmail]="copiedValueEmail"
      [inputValuePhone]="copiedValuePhone"
      [inputValueAddress]="copiedValueAddress"
      [inputValueProfession]="copiedValueProfession"
      [inputValueDescription]="copiedValueDescription"
      [inputValueDay]="copiedValueDay"
      [inputValueMonth]="copiedValueMonth"
      [inputValueYear]="copiedValueYear"
      [inputValueImage]="copiedValueImage"

      [formaciones]="formaciones"

      [experiencias]="experiencias"
      ></app-vista-previa>

    </div>

    <!--Contenedor del formulario-->
    <div class="col-5 ps-5 pe-5">
      <!--Acordeon principal
      (inputChangedDay)="onInputChangeDay($event)"
      (inputChangedMonth)="onInputChangeMonth($event)";
      (inputChangedYear)="onInputChangeYear($event)";
      -->
      <app-input-information
      
      (inputChangedName)="onInputChangeName($event)"
      (inputChangedEmail)="onInputChangeEmail($event)"
      (inputChangedPhone)="onInputChangePhone($event)"
      (inputChangedAddress)="onInputChangeAddress($event)"
      (inputChangedProfession)="onInputChangeProfession($event)"
      (inputChangedDescription)="onInputChangeDescription($event)"

      (inputChangedDay)="onInputChangeDay($event)"
      (inputChangedMonth)="onInputChangeMonth($event)"
      (inputChangedYear)="onInputChangeYear($event)"
      (imagen)="onInputChangeImage($event)"

      (formacionCreada)="agregarFormacion($event)"

      (experienciaCreada)="agregarExperiencia($event)"
      >

      <app-modal-image-perfil-content>
        (imagen)="onInputChangeImage($event)"
      </app-modal-image-perfil-content>
  
  </app-input-information>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!--Fin contenedor vista previa formulario-->
  </div>
  <!--CONTENEDOR INPUT CURRICULUM-->

  <!--FOOTER-->
  <app-footer></app-footer>

</div>
